<html>

<head>
<style>
    .body {
        background-color: cadetblue;
    }
</style>

</head>
<body>
<nav class="navbar fixed-top navbar-dark navbar-expand-md bg-dark navigation-clean-search ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">e-Lib</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#All">Review</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/addproducts">ADD</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>


  

        <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-center">Edit book</h2>

                        <form style="color: rgb(41, 39, 39);" action="/edit-book/{{book._id}}" method="POST" enctype="multipart/form-data">
                            <label for="IBM">IBN number</label>
                            <input type="text" class="form-control" name="ibn" value="{{book.ibn}}" aria-describedby="emailHelp">

                            <label for="">Book Title</label>
                            <input type="text" class="form-control" name="Name" value="{{book.Name}}">

                            <label for="">Author</label>
                            <input type="text" class="form-control" name="Author" value="{{book.Author}}">

                            <label for="">Language</label>
                            <input type="text" class="form-control" name="language" value="{{book.language}}">

                            <label for="">Cover image</label>
                            <img src="/productimages/{{book._id}}.jpg"  style="width: 100px; height: auto" id="imgView">
                            <input type="file" class="form-control" name="image">

                            <label for="">Describtion</label>
                            <textarea class="form-control" name="description" value="{{book.description}}" style="height: 5cm;"></textarea>

                            <label for="">Link to purchase</label>
                            <input type="url" class="form-control" name="purchaselink">

                            <label for="">Year of Publication</label>
                            <input type="text" class="form-control" value="{{book.yop}}" name="yop">

                            <label for="">Genre</label>
                            <input type="checkbox" name="Genre" id="Genre" name="Genre" value="Action">Action
                            <input type="checkbox" name="Genre" id="Genre" name="Genre" value="Comedy">Comedy
                            <input type="checkbox" name="Genre" id="Genre" name="Genre" value="Drama">Drama
                            <input type="checkbox" name="Genre" id="Genre" name="Genre" value="Tragedy">Tragedy
                            <input type="checkbox" name="Genre" id="Genre" name="Genre" value="Fantasy">Fantasy
                            <input type="checkbox" name="Genre" id="Genre" name="Genre" value="Slice of Life">Slice of
                            Life
                            <input name="userid" value="{{user._id}}" hidden >
                            <button type="submit" class="btn btn-primary mt-3">Submit</button>

                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>

</html>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script> 