<div class="container">
<div class="row mt-4">
      <a href="/addproducts" class="btn btn-success ml-auto my-5">Add product</a>
    </div>

</div>
<div class="container">
<div class="row">
            <div class="col-md-3 p-4">
                <div class="row">
                    <div class="card mb-4 box-shadow rounded-0 " data-aos="fade-up" style="height:auto;background-color:darkkhaki;">
                        <img class="card-img-top  d-block rounded-0" height="250px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/692A/production/_112922962_apple.jpg" alt="Card image cap" style="width: auto;hight: 150px">
                        <div class="card-body">
                           <a href="/details"> <h3 class="card-title">apple</h3></a>
                             {{!-- <p class="card-text"><b>{{this.price}}/-</b></p> --}}

                            {{!-- <p class="card-text">{{this.describtion}}</p> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3 p-4">
                <div class="row">
                    <div class="card mb-4 box-shadow rounded-0 " data-aos="fade-up" style="height:auto;background-color:darkkhaki;">
                        <img class="card-img-top  d-block rounded-0" height="250px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/692A/production/_112922962_apple.jpg" alt="Card image cap" style="width: auto;hight: 150px">
                        <div class="card-body">
                           <a href="/viewdetails/{{this._id}}"> <h3 class="card-title">apple</h3></a>
                             {{!-- <p class="card-text"><b>{{this.price}}/-</b></p> --}}

                            {{!-- <p class="card-text">{{this.describtion}}</p> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3 p-4">
                <div class="row">
                    <div class="card mb-4 box-shadow rounded-0 " data-aos="fade-up" style="height:auto;background-color:darkkhaki;">
                        <img class="card-img-top  d-block rounded-0" height="250px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/692A/production/_112922962_apple.jpg" alt="Card image cap" style="width: auto;hight: 150px">
                        <div class="card-body">
                           <a href="/viewdetails/{{this._id}}"> <h3 class="card-title">apple</h3></a>
                             {{!-- <p class="card-text"><b>{{this.price}}/-</b></p> --}}

                            {{!-- <p class="card-text">{{this.describtion}}</p> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3 p-4">
                <div class="row">
                    <div class="card mb-4 box-shadow rounded-0 " data-aos="fade-up" style="height:auto;background-color:darkkhaki;">
                        <img class="card-img-top  d-block rounded-0" height="250px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/692A/production/_112922962_apple.jpg" alt="Card image cap" style="width: auto;hight: 150px">
                        <div class="card-body">
                           <a href="/viewdetails/{{this._id}}"> <h3 class="card-title">apple</h3></a>
                             {{!-- <p class="card-text"><b>{{this.price}}/-</b></p> --}}

                            {{!-- <p class="card-text">{{this.describtion}}</p> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3 p-4">
                <div class="row">
                    <div class="card mb-4 box-shadow rounded-0 " data-aos="fade-up" style="height:auto;background-color:darkkhaki;">
                        <img class="card-img-top  d-block rounded-0" height="250px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/692A/production/_112922962_apple.jpg" alt="Card image cap" style="width: auto;hight: 150px">
                        <div class="card-body">
                           <a href="/viewdetails/{{this._id}}"> <h3 class="card-title">apple</h3></a>
                             {{!-- <p class="card-text"><b>{{this.price}}/-</b></p> --}}

                            {{!-- <p class="card-text">{{this.describtion}}</p> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-3 p-4">
                <div class="row">
                    <div class="card mb-4 box-shadow rounded-0 " data-aos="fade-up" style="height:auto;background-color:darkkhaki;">
                        <img class="card-img-top  d-block rounded-0" height="250px" src="https://ichef.bbci.co.uk/news/976/cpsprodpb/692A/production/_112922962_apple.jpg" alt="Card image cap" style="width: auto;hight: 150px">
                        <div class="card-body">
                           <a href="/viewdetails/{{this._id}}"> <h3 class="card-title">apple</h3></a>
                             {{!-- <p class="card-text"><b>{{this.price}}/-</b></p> --}}

                            {{!-- <p class="card-text">{{this.describtion}}</p> --}}
                            {{!-- <button onclick="addToCart('{{this._id}}')"class="btn btn-primary">Add to Cart</button> --}}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</div>